- content_for :main_footer do
  %nav
    = will_paginate(@posts)

= render @posts, index_view: true

:javascript
  $(document).ready(function() {
    $('.banner').html('' +
      '<ul id="scene-desktop"><li class="layer" data-depth="0">#{image_tag('banner-desktop.png').html_safe}</li><li class="layer" data-depth="-0.10">#{image_tag('banner-desktop-eyes.png').html_safe}</li></ul>' +
      '<ul id="scene-tablet"><li class="layer" data-depth="0">#{image_tag('banner-tablet.png').html_safe}</li><li class="layer" data-depth="0.10">#{image_tag('banner-tablet-eyes.png').html_safe}</li></ul>' +
      '<ul id="scene-phone"><li class="layer" data-depth="0">#{image_tag('banner-phone.png').html_safe}</li><li class="layer" data-depth="0.10">#{image_tag('banner-phone-eyes.png').html_safe}</li></ul>'
    );
  });

= javascript_include_tag 'jquery.parallax.min'

:javascript
  $(document).ready(function() {
    $('#scene-desktop').parallax();
    $('#scene-tablet').parallax();
    $('#scene-phone').parallax();
  });
