= link_to '/', class: 'logo' do
  %img{ src: '', alt: 'Logo'}

%p.days-left
  20
  %span left

%img{ src: '', alt: 'banner1' }

%section#what
  %h1 What is MAGMACONF?
  %p Loren ipsum dolor
  = link_to 'Read More', '#'

%section#social
  %h1 Following Us
  %ul
    %li= link_to 'Facebook', '#'
    %li= link_to 'Twitter', '#'
    %li= link_to 'Google Plus', '#'
    %li= link_to 'Linked In', '#'

%section#organizer
  %h1 Magmaconf organizer
  %p Lorem ipsum dolor
  = link_to 'Read More', '#'

%section#sponsor
  %h1 Magmaconf Sponsored by
  %ul
    %li= link_to 'Sponsor1', '#'
    %li= link_to 'Sponsor2', '#'
    %li= link_to 'Sponsor3', '#'
  = link_to 'Read More', '#'

%section#related
  %h1 Following into
  %ul
    %li
      %a blog 1
    %li
      %a blog2
  = link_to 'Read More', '#'
