.lath
  .in
    = link_to '/', class: 'santo' do
      = image_tag 'santo.svg'
    = link_to 'http://magmaconf.com', target: '_blank', class: 'logo' do
      = image_tag 'magma.svg'
.lath-down

.mask
  = image_tag 'mask.svg'

%p.days-left
  %span= remaining_days
  Days to wear your mask

.separator

%article
  %h3 MagmaConf
  %p
    Lorem ipsum dolor sit amet, malis vivendum insolens te vim. Ignota delectus ex mei. Audire tritani fuisset id sit, minim antiopam ius te, aeque copiosae ea eum.
  = link_to 'Read more', '/sections/magmaconf'

.separator

%section
  %h3 Stay tuned...
  .social
    = link_to 'http://www.facebook.com/magmaconf', target: '_blank' do
      %i.fa.fa-facebook
  .social
    = link_to 'http://twitter.com/magmaconf', target: '_blank' do
      %i.fa.fa-twitter
  .social
    = link_to 'https://plus.google.com/+Magmaconf/posts', target: '_blank' do
      %i.fa.fa-google-plus

.separator

%article
  %h3 Venue
  %p
    Lorem ipsum dolor sit amet, malis vivendum insolens te vim. Ignota delectus ex mei. Audire tritani fuisset id sit, minim antiopam ius te, aeque copiosae ea eum.
  = link_to 'Read more', '/sections/venue'

.separator

%article
  %h3 Sponsors
  %p
    Lorem ipsum dolor sit amet, malis vivendum insolens te vim. Ignota delectus ex mei. Audire tritani fuisset id sit, minim antiopam ius te, aeque copiosae ea eum.
  = link_to 'Read more', '/sections/sponsors'

.separator

%article
  %h3 Links
  %p
    Lorem ipsum dolor sit amet, malis vivendum insolens te vim. Ignota delectus ex mei. Audire tritani fuisset id sit, minim antiopam ius te, aeque copiosae ea eum.
  = link_to 'Read more', '/sections/links'

.separator

%footer
  %p
    An event organized by
    = link_to 'http://www.crowdint.com', target: '_blank' do
      = image_tag 'crowd.svg'
