.lath
  .in
    = link_to '/', class: 'santo' do
      = image_tag 'santo.svg'
    = link_to 'http://magmaconf.com', target: '_blank', class: 'logo' do
      = image_tag 'magma.svg'
.lath-down

.mask
  = image_tag 'mask.svg'

%p.days-left
  %span= remaining_days
  Days to wear your mask

.separator

%article
  %h3 MagmaConf
  %p
    Web Development Conference, 3 days, single track. Come join us in Manzanillo, Colima, Mx; and help us build bridges between different Development Communities.
  = link_to 'Go to magmaconf', 'http://magmaconf.com', target: '_blank'

.separator

%section
  %h3 Stay tuned...
  .social
    = link_to 'http://www.facebook.com/magmaconf', target: '_blank' do
      %i.fa.fa-facebook
  .social
    = link_to 'http://twitter.com/magmaconf', target: '_blank' do
      %i.fa.fa-twitter
  .social
    = link_to 'https://plus.google.com/+Magmaconf/posts', target: '_blank' do
      %i.fa.fa-google-plus

.separator

%article
  %h3 Venue
  %p
    MagmaConf is held in an very comfortable auditorium, that is located 5 minutes away (by car) from the shoreline. And the MagmaVillage is a set of beach front houses that you can stay at for the conference.
  = link_to 'Get the map', '/sections/venue'

.separator

%article
  %h3 Sponsors
  %p
    Want to reach other audiences? We are your event! We gather professionals of different places; from developers to designer, to business owners and venture capitalists.  And our audience is very receptive!
  = link_to 'All sponsors', '/sections/sponsors'

.separator

%article
  %h3 Links
  %p
    We will be keeping you posted with news and other things that we think might help you plan your trip, or give you more info about the speakers, venue or the location.
  = link_to 'More', '/sections/links'

.separator

%footer
  %p
    An event organized by
    = link_to 'http://www.crowdint.com', target: '_blank' do
      = image_tag 'crowd.svg'
