.sponsors
  .row
    .three-columns
      %span Our Sponsors
    .nine-columns
      %ul
        %li#travis.sponsor
          = link_to '#' do
            = image_tag 'travis-blog.svg'
        %li#onelogin.sponsor
          = link_to '#' do
            = image_tag 'onelogin-blog.svg'
        %li#crowd.sponsor
          = link_to 'http://www.crowdint.com', target: '_blank' do
            = image_tag 'crowd-sponsor.svg'
        %li#github.sponsor
          = link_to 'https://github.com/', target: '_blank' do
            = image_tag 'github-sponsor.svg'
        %li#toptal.sponsor
          = link_to '#' do
            = image_tag 'toptal-blog.svg'
        %li#engineyard.sponsor.small
          = link_to '#' do
            = image_tag 'engineyard-blog.svg'
        %li#honey-badger.sponsor.small
          = link_to '#' do
            = image_tag 'honey-badger-blog-logo.svg'
        %li#rackspace.sponsor.small
          = link_to '#', target: '_blank' do
            = image_tag 'rack-blog.svg'
        %li#rackspace.sponsor.small
          = link_to '#', target: '_blank' do
            = image_tag 'codeclimate-blog.svg'
        %li#rackspace.sponsor.small
          = link_to '#', target: '_blank' do
            = image_tag 'empleosti-blog.svg'

.copy-right
  %small &copy; 2013. This site is protected by Copyright. Under U.S and international law. All rights reserved.
