%h3 Another event by Crowd Interactive

%section#footer-sponsor
  %h1 Sponsors
  %ul
    %li= link_to 'Sponsor1', '#'
    %li= link_to 'Sponsor2', '#'
    %li= link_to 'Sponsor2', '#'

%section#footer-following
  %h1 Following us
  %ul
    %li= link_to 'Facebook', '#'
    %li= link_to 'Twitter', '#'
    %li= link_to 'Google Plus', '#'
    %li= link_to 'Linked In', '#'

%small Crowd Interactive 2013, This site is protected by...


