.sponsors
  .row
    .three-columns
      %span Our Sponsors
    .eight-columns
      %ul
        %li
          = link_to 'http://www.crowdint.com', target: '_blank' do
            = image_tag 'crowd.svg'
        %li
          = link_to 'http://github.com', target: '_blank' do
            = image_tag 'crowd.svg'
        %li
          = link_to 'http://rubycentral.org', target: '_balnk' do
            = image_tag 'crowd.svg'
        %li
          = link_to '#' do
            = image_tag 'crowd.svg'

.copy-right
  %small Crowd Interactive 2013, This site is protected by...
