.sponsors
  .row
    .three-columns
      %span Our Sponsors
    .eight-columns
      %ul
        %li
          = link_to 'http://www.crowdint.com', target: '_blank' do
            = image_tag 'crowd-sponsor.svg'
        %li
          = link_to 'http://github.com', target: '_blank' do
            = image_tag 'github.svg'
        %li
          = link_to 'http://rubycentral.org', target: '_balnk' do
            = image_tag 'rubycentral.svg'
        %li
          = link_to '#' do
            = image_tag 'yourlogohere.svg'
        %li
          = link_to '#' do
            = image_tag 'orhere.svg'

.copy-right
  %small &copy; 2013. This site is protected by Copyright. Under U.S and international law. All rights reserved.
