%menu{ label: 'categories' }
  %li
    = link_to '#' do
      %i.fa.fa-star
      News
  %li
    = link_to '#' do
      %i.fa.fa-rotate-left
      Updates
  %li
    = link_to '#' do
      %i.fa.fa-bullhorn
      Speakers
  %li
    = link_to '#' do
      %i.fa.fa-check
      Sponsors

= form_tag '/search' do
  = search_field_tag :search, '', results: 5
  = submit_tag :search

