.lath
  .lath-in
    = link_to '/' do
      = image_tag 'magma.svg'
  .lath-bottom

%nav
  = link_to '#', id: 'main-menu' do
    %i.fa.fa-align-justify

.twelve-columns.menu-hidden
  .left
    %header Sections
    %ul
      %li
        = link_to 'MagmaConf', 'http://magmaconf.com', target: '_blank'
      %li
        = link_to 'Venue', '/sections/venue'
      %li
        = link_to 'Sponsors', '/sections/sponsors'
      %li
        = link_to 'Links', '/sections/links'
  .right
    %header Categories
    %ul
      %li.categories
        = link_to '/category/news' do
          %i.fa.fa-star
          News
      %li.categories
        = link_to '/category/judges' do
          %i.fa.fa-legal
          Judges
      %li.categories
        = link_to '/category/speakers' do
          %i.fa.fa-bullhorn
          Speakers
      %li.categories
        = link_to '/category/sponsors' do
          %i.fa.fa-flag
          Sponsors
  .down
    %header Stay tuned
    %ul
      %li
        = link_to 'http://www.facebook.com/magmaconf', target: '_blank' do
          %i.fa.fa-facebook
      %li
        = link_to 'http://twitter.com/magmaconf', target: '_blank' do
          %i.fa.fa-twitter
      %li
        = link_to 'https://plus.google.com/+Magmaconf/posts', target: '_blank' do
          %i.fa.fa-google-plus
