!!! html5
%html
  %head
    %title Blog MagmaConf
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    %header
      = render 'header'

    .wrap
      %main
        = yield
        %footer
          %nav
            = link_to 'prev', '#'
            = link_to 'next', '#'
          %img{ src: '' }
      %aside
        = render 'aside'
    %footer
      = render 'footer'

    = javascript_include_tag 'application'
    = yield :scripts
