!!! html5
%html
  %head
    %title Blog MagmaConf
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    %header
      = render 'header'

    .wrap
      %main
        = yield
        %footer
          = yield :main_footer
        %img{ src: '', alt: 'banner' }
      %aside
        = render 'aside'
    %footer
      = render 'footer'

    = javascript_include_tag 'application'
    = yield :scripts
